.aboutContainer {
  width: calc(var(--container-width) - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aboutImage {
  height: 650px;
}

.aboutContainer h2 {
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: var(--luckiest-guy);
  margin-bottom: 30px;
}

.aboutContainer p {
  color: white;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 60px;
  font-family: var(--handlee);
}
