.navContainer {
  position: absolute;
  width: var(--container-width);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.navContainer div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navContainer div:first-child img {
  width: 110px;
}

.navContainer ul {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  gap: 40px;
}
.navContainer ul li:first-child {
  margin-left: 60px;
}
.navContainer ul li {
  list-style: none;
  margin: 0 10px;
  color: white;
  font-weight: 300;
  font-size: 20px;
  font-family: var(--handlee);
  text-shadow: var(--text-shadow);
  cursor: pointer;
}
li a {
  color: white;
  text-decoration: unset;
}
.navContainer button {
  background-color: var(--background-first-color);
  border: 2px solid var(--light-green-primary);
  font-family: var(--handlee);
  color: #fff;
  padding: 8px 30px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 19%);
}
@media screen and (max-width: 768px) {
  .navContainer {
    width: var(--container-width-mobile);
    padding: 10px 0;
  }
  .navContainer div:first-child img {
    width: 70px;
  }
  .navContainer ul {
    display: none;
  }
  .navContainer button {
    padding: 4px 10px;
    font-size: 1.4rem;
  }
}
