.tokenomicsSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 100px 0;
}

.tokenomicsContainer {
  display: flex;
  flex-direction: column;
  width: var(--container-width);
  align-items: center;
  justify-content: center;
}

.tokenomicsTitleContainer {
  width: var(--container-width);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tokenomicsTitle {
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: var(--luckiest-guy);

}

.tokenInfo {
  display: flex;
  flex-direction: column;
  width: var(--container-width);
  align-items: center;
  margin-bottom: 60px;
  gap: 30px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.infoCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 110px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.293) 5px 0px 18px;
  padding: 5px;
}

.tokenCardTitle {
  color: var(--background-first-color);
  font-family: var(--luckiest-guy);
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.tokenCardSubTitle {
  color: black;
  font-family: var(--luckiest-guy);

  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.buttonContainer button {
  color: #fff;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 1.4rem;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 19%);
  padding: 14px 70px;
  margin-bottom: 60px;
  font-family: var(--handlee);
  background-color: var(--light-green-primary);
}

